/a.py
/calculator.py
/condition statement
/desktop.ini
/first_program.py
/fstring.py
/function_
/list
/loop
/main.py
/match_case
/my_page.html
/node_modules
/operators.py
/package-lock.json
/package.json
/plot
/string
/time_pratices.py
/tuple
/typecasting.py
/userinput.py
/variable_datatype.py
/__pycache__